/* DashboardComponent's private CSS styles */
  a {
    text-decoration: none;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }  

  .mat-card-title a {
    color: darkslategrey;
  }
  

  .module {
    padding: 20px;
    text-align: center;
    color: darkslategrey;    
    background-color: #f8f8f8;
    border-radius: 2px;
    overflow: auto;
  }

  .module img {    
    color: #eee;
    max-height: 150px;
    max-width : 90%;
  }

  .module:hover {
    background-color: #ededed;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }