<a href="/detail/{{game?._id}}">
    <mat-card *ngIf="game" class="module game">
        <mat-card-header>
            <mat-card-title>{{game.name}}</mat-card-title>
            <mat-card-subtitle>Played {{game.playedCounter}} times</mat-card-subtitle>
        </mat-card-header>
        
        <div class="game-image">
            <img src="assets/img/{{game._id}}.png" class="game-image" />
        </div>

        <mat-card-actions>
            <button mat-raised-button mat-button color="primary" (click)="playGame($event);">Play it</button>
            <button mat-button>Details</button>
        </mat-card-actions>
    </mat-card>
</a>