<div class="contentWrapper">
<mat-card *ngIf="game" class="module game uniqueCard">

  <mat-card-header>
    <mat-card-title>{{game.name | uppercase}} Details</mat-card-title>
  </mat-card-header>

  <mat-card-content>
  <img src="assets/img/{{game._id}}.png" class="game-image" />

   <div>
      <b>Min number of players:</b>&nbsp;{{game.minPlayers}}<br />
      <b>Max number of players:</b>&nbsp;{{game.maxPlayers}}<br />
      <b>Configuration:</b>&nbsp;{{game.configuration}}<br />
      <b>Duration</b>&nbsp;{{game.duration}}<br />
      <b>Level:</b>&nbsp;{{game.level}}<br />
      <b>Notes:</b>&nbsp;{{game.notes}}<br />
      <b>Style:</b>&nbsp;{{game.style}}<br /><br />
      Played {{game.playedCounter}} times.
    </div>

  </mat-card-content>
    
    <mat-card-actions>
      <button *ngIf="!allowCancelLastPlay" (click)="playGame()" mat-raised-button mat-button color="primary">Play it!</button>&nbsp;<button mat-raised-button *ngIf="allowCancelLastPlay" (click)="unplayGame()">Cancel last session</button>
  </mat-card-actions>
  </mat-card>
</div>
