<p>
    <mat-toolbar color="primary" class="toolbarTest">
      <button mat-icon-button class="header-icon toolbarFlex" [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <a class="menu-link" routerLink="/pickGame">Pick a game</a>
          </button>
          <button mat-menu-item>
            <a class="menu-link" routerLink="/games">Games</a>
          </button>
          <button mat-menu-item>
            <a class="menu-link" routerLink="/addGame">Add Game</a>
          </button>
      </mat-menu>
      <a href="/" class="header-title toolbarFlex"><span>{{title}}</span></a>      
      <app-search-game class="toolbarFlex"></app-search-game>
    </mat-toolbar>
  </p>

<router-outlet></router-outlet>

<br clear="both" />
<app-messages></app-messages>

