h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }

  .header-spacer {
    flex: 1 1 auto;
  }

  .header-icon {
    background-color: transparent;
    border: transparent;
    color: white;
  }

  .header-title {
    color: white;
    text-decoration: none !important;
  }

  .menu-link {
    color:lightslategrey;
    text-decoration: none !important;
  }