<form class="example-form">
  <mat-form-field>
    <mat-label *ngIf="!isLoading">Game name</mat-label>
    <mat-label *ngIf="isLoading">Loading</mat-label>
    <input type="text"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngIf="isLoading" ><mat-spinner style="margin: 0 auto"></mat-spinner></mat-option>
      <mat-option *ngIf="filteredOptions?.length == 0" >No game found</mat-option>
      <ng-container *ngIf="!isLoading && myControl.value != ''">
        <mat-option class="auto-complete-option" *ngFor="let game of (filteredOptions)" value="game">
          <a class="auto-complete-link" href="detail/{{game._id}}"><span style="display: inline-block; width : 38px;"><img src="assets/img/{{game._id}}.png" style="max-width:35px; max-height: 35px;" /></span>{{game.name}}</a>
        </mat-option>
    </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>