<div style="text-align: center;">
  <mat-spinner style="margin: 0 auto" *ngIf="games === undefined"></mat-spinner>

  <div *ngIf="games !== undefined">
    <h2>Available games ({{games.length}})</h2>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
          <mat-panel-description>
            Filter the games
          </mat-panel-description>
        </mat-expansion-panel-header>
      
        <div style="display:flex; flex-wrap : wrap; flex-direction: column; text-align: left;">
          <div>
            <mat-slide-toggle [formControl]="enableFilterPlayers">Number of players</mat-slide-toggle>
            <mat-slider thumbLabel [disabled]="!enableFilterPlayers.value" [formControl]="filterPlayers" min="1" max="15" style="margin : 0px 0px 9px 15px;"></mat-slider>
            <span *ngIf="enableFilterPlayers.value && filterPlayers.value != false" style="margin : 0px 0px 0px 15px;">{{filterPlayers.value}}</span>
          </div>

          <div>
            <mat-slide-toggle [formControl]="enableFilterDuration">Maximum duration</mat-slide-toggle>
            <mat-slider thumbLabel step="5" [formControl]="filterDuration" [disabled]="!enableFilterDuration.value" min="5" max="{{maxDuration}}" style="margin : 0px 0px 9px 15px;"></mat-slider>
            <span *ngIf="enableFilterDuration.value && filterDuration.value != false" style="margin : 0px 0px 0px 15px;">{{filterDuration.value}}</span>
          </div>

          <div>
            <div style="float: left;"><mat-slide-toggle [formControl]="enableFilterLevel">Level</mat-slide-toggle></div>                
            <div style="float: left; margin-left : 20px; width : 250px;">
              <mat-select [formControl]="filterLevel" [disabled]="!enableFilterLevel.value" multiple>
                <mat-option value="beginner">Beginner</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="expert">Expert</mat-option>
              </mat-select>
            </div>
          </div>

          <div>
            <div style="float: left;"><mat-slide-toggle [formControl]="enableFilterConfiguration">Configuration</mat-slide-toggle></div>                
            <div style="float: left; margin-left : 20px; width : 250px;">
              <mat-select [formControl]="filterConfiguration" [disabled]="!enableFilterConfiguration.value" multiple>
                <mat-option value="competition">Competition</mat-option>
                <mat-option value="cooperation">Cooperation</mat-option>
                <mat-option value="mix">Mix</mat-option>
              </mat-select>
            </div>
          </div>

            <div>
              <div style="float: left;"><mat-slide-toggle [formControl]="enableFilterStyle">Style</mat-slide-toggle></div>                
              <div style="float: left; margin-left : 20px; width : 250px;">
                <mat-select [formControl]="filterStyle" [disabled]="!enableFilterStyle.value" multiple>
                  <mat-option value="cards">Cards</mat-option>
                  <mat-option value="dice">Dice</mat-option>
                  <mat-option value="impro">Improvisation</mat-option>
                  <mat-option value="programmation">Programmation</mat-option>
                  <mat-option value="party">Party game</mat-option>
                  <mat-option value="realTime">Real time</mat-option>
                  <mat-option value="roll&dice">Roll & Dice</mat-option>
                </mat-select>
              </div>
          </div>
      </div>
      </mat-expansion-panel>    
    </mat-accordion>

    <div style="margin-top: 10px;" fxLayout="row wrap" fxLayoutGap="0px" fxLayoutAlign="flex-start">
      <app-game-short-view *ngFor="let game of games" [game]="game"></app-game-short-view>    
    </div>
</div>
</div>