/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.module {
  padding: 20px;
  text-align: center;
  color: darkslategrey;    
  background-color: #f8f8f8;
  border-radius: 2px;
  margin:1%;
}

.module img {    
  color: #eee;
  max-height: 150px;
}

app-game-short-view {
  flex-basis: calc(25% - 0px);
  flex-shrink: 1;
  box-sizing: border-box;
  margin-right: 0px;
}

@media (max-width: 1024px) {
  app-game-short-view {
    flex-basis: calc(50% - 0px)
  }
}

@media (max-width: 600px) {
  app-game-short-view {
    flex-basis: calc(100% - 0px)
  }
}

.mat-card-header {
  justify-content: center;
}

.toolbarFlex {
  flex: 0 1 calc(33.3% - 32px);
}

@media (max-width: 400px) {
  .toolbarFlex {    
    flex: 0 1 calc(100% - 0px)
  }

  .toolbarTest {
    flex-direction: column !important;
    height: fit-content;
  }
}

.uniqueCard {
  background-color :#f8f8f8;
  width: 50%; 
  height: fit-content;
}

.contentWrapper {
  height :fit-content; 
  display: flex; 
  justify-content: center; 
  margin:10px;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-form-field { 
  margin: 10px 0px 15px 0px;
  width: 100%;
}

.cardFormActions{
  display: flex !important; 
  justify-content: center;
}