<div class="contentWrapper">
  <mat-card class="uniqueCard">
    <mat-card-header>
      <mat-card-title>Pick a game for me!</mat-card-title>
    </mat-card-header>

    <form [formGroup]="pickGameForm" (ngSubmit)="onSubmit()">
      <mat-card-content>      
        <mat-form-field>
          <mat-label>
            Number of players
          </mat-label>
          <input matInput min="1" id="playersCount" formControlName="playersCount" type="number">
          <mat-hint>Required field</mat-hint>
        </mat-form-field>
        <br />
        
        <mat-form-field>
          <mat-label>
            Maximum game duration
          </mat-label>
          <input matInput min="1" id="maxDuration" formControlName="maxDuration" type="number">
          <mat-hint>Leave empty if you don't care.</mat-hint>
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
          <mat-label>Configuration</mat-label>
          <mat-select id="configuration" formControlName="configuration">
            <mat-option value="">None</mat-option>
            <mat-option value="competition">Competition</mat-option>
            <mat-option value="cooperation">Cooperation</mat-option>
            <mat-option value="mix">Mix (teams)</mat-option>
          </mat-select>
          <mat-hint>Use None if you don't care</mat-hint>
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
          <mat-label>Level</mat-label>
          <mat-select id="level" formControlName="level">
            <mat-option value="">None</mat-option>
            <mat-option value="beginner">Beginner</mat-option>
            <mat-option value="medium">Medium</mat-option>
            <mat-option value="expert">Expert</mat-option>
          </mat-select>
          <mat-hint>Use None if you don't care. This is the maximum Level, so for example Beginner will only pick beginner games, but Medium will pick medium and beginners games.</mat-hint>
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
          <mat-label>Style</mat-label>
          <mat-select id="style" formControlName="style">
            <mat-option value="">None</mat-option>
            <mat-option value="cards">Cards</mat-option>
            <mat-option value="dice">Dice</mat-option>
            <mat-option value="impro">Improvisation</mat-option>
            <mat-option value="programmation">Programmation</mat-option>
            <mat-option value="party">Party game</mat-option>
            <mat-option value="realTime">Real time</mat-option>
            <mat-option value="roll&dice">Roll & Dice</mat-option>
          </mat-select>
          <mat-hint>Use None if you don't care</mat-hint>
        </mat-form-field>
        <br />      
      </mat-card-content>

      <mat-card-actions class="cardFormActions">
        <button class="button" mat-raised-button color="primary" type="submit">Find game</button>
      </mat-card-actions>
    </form>
  </mat-card>

  <div class="break"></div>
  
  <app-game-short-view *ngIf="pickedGame" [game]="pickedGame"></app-game-short-view>  

</div>