<div class="contentWrapper">
  <mat-card class="uniqueCard">
  
  <mat-card-header>
    <mat-card-title>Add a game to the list</mat-card-title>
  </mat-card-header>

  <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
  <mat-card-content>
    

      <mat-form-field>
        <mat-label>
          Name
        </mat-label>
        <input matInput placeholder="Ex. Takenoko" formControlName="name" id="name" type="text">
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>
          Minimum players count
        </mat-label>
        <input matInput min="1" id="minPlayers" formControlName="minPlayers" type="number">
        <mat-hint>At least one player</mat-hint>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>
          Maximum players count
        </mat-label>
        <input matInput min="1" id="maxPlayers" formControlName="maxPlayers" type="number">
        <mat-hint>Leave empty if no maximum</mat-hint>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>
          Game duration
        </mat-label>
        <input matInput id="duration" formControlName="duration" type="number">
        <mat-hint>Value in minutes, ex. 60</mat-hint>
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Configuration</mat-label>
        <mat-select id="configuration" formControlName="configuration">
          <mat-option value="">None</mat-option>
          <mat-option value="competition">Competition</mat-option>
          <mat-option value="cooperation">Cooperation</mat-option>
          <mat-option value="mix">Mix (teams)</mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select id="level" formControlName="level">
          <mat-option value="">None</mat-option>
          <mat-option value="beginner">Beginner</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="expert">Expert</mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>Style</mat-label>
        <mat-select id="style" formControlName="style">
          <mat-option value="">None</mat-option>
          <mat-option value="cards">Cards</mat-option>
          <mat-option value="dice">Dice</mat-option>
          <mat-option value="impro">Improvisation</mat-option>
          <mat-option value="programmation">Programmation</mat-option>
          <mat-option value="party">Party game</mat-option>
          <mat-option value="realTime">Real time</mat-option>
          <mat-option value="roll&dice">Roll & Dice</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
    </mat-card-content>

    <mat-card-actions class="cardFormActions">
      <button mat-raised-button color="primary" type="submit" >Add</button>
    </mat-card-actions>
    
  
  </form>
</mat-card>
</div>